div{
    margin-top: 3px;
}

.services-section {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364); /* gradient */
  }
  
  .service-box {
    background-color: rgba(255, 255, 255, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(4px);
  }
  
  .service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
  }
  
  section{
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(4px);
  }